#advanced_options {
    display: none;
}
#embed_code {
    display: none;
}
#boxmkr_form_add, #boxmkr_form_export {
    display: none;
}
footer.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
textarea#output {
    width: 100%;
    height: 100px;
}

